.main
  .my_profile_main
    = render partial: "users/header"
  .main__container
    = render partial: "users/leftbox", locals: {company: @latest_company, card: @latest_card}

    .chat_room
      .chat_room__navigation
      .chat_room__content
        .room_title
          %span.main-group__name
            = @follower.name
          %span.main-group__name
            さんとのメッセージ
        .message_box
          .room_space
            .follower_info_box
              .follower_avatar
                .thumbnail
                  = link_to user_path(params[:user_id]) do
                    %i.fa.fa-user.fa-3x
              .follower_profile
                .follower_name
                  = @follower.name
                .follower_company
                  = @follower_company.company_name if @follower_company.present?
          .chat_box
            .chat_info_message
              .inline_block
                %p 株式会社 の花田暁さんとつながりました。
                %p あいさつのメッセージを送ってみましょう。
            .chat_screen
              - @viewed_messages.each do |message|
                .chat_space
                  .chat_space__avatar
                    .thumbnail
                      = link_to user_path(params[:user_id]) do
                        %i.fa.fa-user.fa-3x
                  .chat_space__content
                    .chat_space__content__user_info
                      .chat_space__content__user_info__person
                        = message.user.name
                      .chat_space__content__user_info__post-time
                        = message.created_at
                    .chat_space__content__chat
                      = message.message
        .post_box
          .thumbnail
            = link_to user_path(params[:user_id]) do
              %i.fa.fa-user.fa-3x
          .form_box
            = form_for [@poster, @message], remote: true do |f|
              = f.text_area :message, class: "text-field", placeholder: "返信する"
              = f.hidden_field :receive_user_id, value: @follower.id
              .action_field
                = f.submit value: "送信", class: "form-box__button"

    = render partial: "users/recomended_people"
