.registration-registration_top_window
  .article
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .inner-container
        %img{:alt => "画像", :height => "144", :src => "https://cdn0.iconfinder.com/data/icons/users-android-l-lollipop-icon-pack/24/user-512.png", :witdth => "144"}/
        %p.title_text 新規登録
        .registration-registration_form
          %span.alert_message
          = f.text_field :name, autofocus: true, placeholder: "ニックネーム", class: "account_form"
          = f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "account_form"
          %br/
          = f.password_field :password, autocomplete: "off", placeholder: "パスワード (6文字以上 30文字以内)", class: "password_form"
          = f.password_field :password_confirmation, autocomplete: "off",placeholder: "パスワードをもう一度入力してください", class: "password_form"
          = f.submit "無料でアカウントを登録する", class: "common-button theme-primary l-normal-button registration_button"
        .common-facebook.top-page-facebook
          %button.common-button.theme-primary.l-normal-button.facebook_registration_button
            %span Facebookで新規登録
        .bottom_info
          %a{:href => "/kiyaku", :rel => "nofollow", :target => "_blank"}
            %span 利用規約
          %span および
          %a{:href => "/permission", :rel => "nofollow", :target => "_blank"}
            %span 個人情報の取り扱い
          %span に同意して、新規アカウント登録をしてください。
/ = render "devise/shared/links"
