%nav.side_bar-side_bar
  = link_to user_path(current_user.id), class: "side_bar-my_profile_info js-me" do
    %article.profiles
      .profile__data
        .thumbnail
          .image-box
            %i.fa.fa-user.fa-3x
        .text-field
          .text-box
            .text-name
              = current_user.name
            .text-company
              = company.company_name if company.present?
      .card
        .side_bar-profile_card_image
          = image_tag card.image.card if card.present?
  .navs
    .side_bar-menu
      %ul.nav.menu#js-nav
        %li.side_bar-linked_menu_item.title-menu
          = link_to user_posts_path(current_user.id), class: "link-component" do
            %i.fe.fe-feed_icon
            %span
              フィード
        %li.side_bar-linked_menu_item.title-menu
          = link_to message_link_users_path, class: "link-component" do
            %i.fe.fe-message
            %span
              メッセージ
        %li.side_bar-linked_menu_item.title-menu
          = link_to "#", class: "link-component" do
            %i.fe.fe-news
            %span
              お知らせ
      %ul.nav.networks
        %li.side_bar-linked_menu_item.title-menu
          = link_to "#", class: "link-component" do
            %i.fe.fe-personals_icon
            %span
              あなたのネットワーク
            %span.num
              0
        %li#js-network-menu.network-menu
          %ul
            %li
              %ul.sub-menu-items
                %li.side_bar-linked_menu_item.sub-menu
                  = link_to "#", class: "link-component" do
                    %span
                      データ入力待ち
                    %span.num
                      0
                %li.side_bar-linked_menu_item.sub-menu
                  = link_to "#", class: "link-component" do
                    %span
                      最近見た名刺
                    %span.num
                      0
                %li.side_bar-linked_menu_item.sub-menu
                  = link_to "#", class: "link-component" do
                    %span
                      つながっている人
                    %span.num
                      0
                %li.side_bar-linked_menu_item.sub-menu
                  = link_to "#", class: "link-component" do
                    %span
                      ラベル
                    %span.num
                      0
                %li.side_bar-linked_menu_item.sub-menu
                  = link_to "#", class: "link-component" do
                    %span
                      ラベルなし
                    %span.num
                      0
                %li.side_bar-linked_menu_item.sub-menu
                  = link_to "#", class: "link-component" do
                    %span
                      ラベル作成
                    %span.num
                      0
