.main
  .my_profile_main
    %header.header-header.profile-header-container
      .container
        = link_to root_path do
          %h1.logo-title Eight
        %form.search-field{action: "/users/search", method: "get"}
          %input.srh-txt{name: "keyword", type: "text", placeholder: "名前、会社を検索"}
          %button.common-text_button.search-button{type: "submit"}
            %i.fe.fe-search
  .main__container
    %nav.side_bar-side_bar
      = link_to "/", class: "side_bar-my_profile_info js-me" do
        %article.profiles
          .profile__data
            .thumbnail
              .image-box
                %i.fa.fa-user.fa-3x
            .text-field
              .text-box
                .text-name
                  花田  暁
                .text-company
                  株式会社  div
          .card
            .side_bar-profile_card_image
      .navs
        .side_bar-menu
          %ul.nav.menu#js-nav
            %li.side_bar-linked_menu_item.title-menu
              = link_to "#", class: "link-component" do
                %i.fe.fe-feed_icon
                %span
                  フィード
            %li.side_bar-linked_menu_item.title-menu
              = link_to users_path, class: "link-component" do
                %i.fe.fe-message
                %span
                  メッセージ
            %li.side_bar-linked_menu_item.title-menu
              = link_to "#", class: "link-component" do
                %i.fe.fe-news
                %span
                  お知らせ
          %ul.nav.networks
            %li.side_bar-linked_menu_item.title-menu
              = link_to "#", class: "link-component" do
                %i.fe.fe-personals_icon
                %span
                  あなたのネットワーク
                %span.num
                  0
            %li#js-network-menu.network-menu
              %ul
                %li
                  %ul.sub-menu-items
                    %li.side_bar-linked_menu_item.sub-menu
                      = link_to "#", class: "link-component" do
                        %span
                          データ入力待ち
                        %span.num
                          0
                    %li.side_bar-linked_menu_item.sub-menu
                      = link_to "#", class: "link-component" do
                        %span
                          最近見た名刺
                        %span.num
                          0
                    %li.side_bar-linked_menu_item.sub-menu
                      = link_to "#", class: "link-component" do
                        %span
                          つながっている人
                        %span.num
                          0
                    %li.side_bar-linked_menu_item.sub-menu
                      = link_to "#", class: "link-component" do
                        %span
                          ラベル
                        %span.num
                          0
                    %li.side_bar-linked_menu_item.sub-menu
                      = link_to "#", class: "link-component" do
                        %span
                          ラベルなし
                        %span.num
                          0
                    %li.side_bar-linked_menu_item.sub-menu
                      = link_to "#", class: "link-component" do
                        %span
                          ラベル作成
                        %span.num
                          0
    %article.chat-rooms
      .chat-rooms__navigation
        =link_to do
          %button.common-button.l-normal-button
            .chat-rooms__new-message-button
              %i.fe.fe-plus
              %span
                新規メッセージ作成
        .chat-rooms__rooms-title
          %span
            %span.common-text_button
              %span
                受信ボックス
              %i.fa.fa-caret-down
      - @followers.each do |follower|
        %section.chat-room_list.chat-rooms__room-list
          =link_to user_messages_path(follower.id) do
            .chat-room_item.list-item
              .room-thumbnail-field
                %i.fa.fa-user.fa-3x
              %dl.room-info-field
                %dt.title-field
                  %span.room-name
                    = follower.name
                  %span.person-company
                    = follower.companies.last.company_name if follower.companies.present?
                %dd.summary-field
                  こんにちは
                %dd.posted-at-field
                  時間
                  %span
            .room-menu_button
              .chat-room_menu_button
                %span.common-text_button.menu-button
                  %i.fe.fe-setup_icon






    .recomended_people
      .guide_info
        %p.guide_info__guidance お知り合いですか？
        %p.guide_info__help 名刺リクエストを送信して、追加しましょう。
      .scroll
        %ul
          %li.recomended_people-recomended_person
            .friend_info.clickable
              %img.common-avatar.people-avatar.tmb{:src => "https://upload-contents.8card.net/profiles/cec94304d8094508866590a8d5c37df11b8163eb63643deadfde157bf4ad134c2f773c8f9_76.jpg"}/
              .profile-info
                .full-name 山田尚孝
                .company Sansan株式会社
            .recommended_people-follow_button
              %button.common-button.theme-primary.l-mini-button.follow-button
                %span 追加
                .dialog-position
            %i.fe.fe-close
          %li.recomended_people-recomended_person
            .friend_info.clickable
              %img.common-avatar.people-avatar.tmb{:src => "https://upload-contents.8card.net/profiles/cec94304d8094508866590a8d5c37df11b8163eb63643deadfde157bf4ad134c2f773c8f9_76.jpg"}/
              .profile-info
                .full-name 山田尚孝
                .company Sansan株式会社
            .recommended_people-follow_button
              %button.common-button.theme-primary.l-mini-button.follow-button
                %span 追加
                .dialog-position
            %i.fe.fe-close
          %li.recomended_people-recomended_person
            .friend_info.clickable
              %img.common-avatar.people-avatar.tmb{:src => "https://upload-contents.8card.net/profiles/cec94304d8094508866590a8d5c37df11b8163eb63643deadfde157bf4ad134c2f773c8f9_76.jpg"}/
              .profile-info
                .full-name 山田尚孝
                .company Sansan株式会社
            .recommended_people-follow_button
              %button.common-button.theme-primary.l-mini-button.follow-button
                %span 追加
                .dialog-position
            %i.fe.fe-close
