.main
  .my_profile_main
    %header.header-header.profile-header-container
      .container
        = link_to root_path do
          %h1.logo-title Eight
        %form.search-field{action: "/users/search", method: "get"}
          %input.srh-txt{name: "keyword", type: "text", placeholder: "名前、会社を検索"}
          %button.common-text_button.search-button{type: "submit"}
            %i.fe.fe-search
  .main__container
    = render partial: "users/leftbox", locals: {company: @latest_company, card: @latest_card}
    %article.chat-rooms
      .chat-rooms__navigation
        =link_to do
          %button.common-button.l-normal-button
            .chat-rooms__new-message-button
              %i.fe.fe-plus
              %span
                新規メッセージ作成
        .chat-rooms__rooms-title
          %span
            %span.common-text_button
              %span
                受信ボックス
              %i.fa.fa-caret-down
      - @followers.each do |follower|
        %section.chat-room_list.chat-rooms__room-list
          =link_to user_messages_path(follower.id) do
            .chat-room_item.list-item
              .room-thumbnail-field
                %i.fa.fa-user.fa-3x
              %dl.room-info-field
                %dt.title-field
                  %span.room-name
                    = follower.name
                  %span.person-company
                    = follower.companies.last.company_name if follower.companies.present?
                  %span.person-career
                    = follower.careers.last.department if follower.companies.present?
                %dd.summary-field
                  こんにちは
                %dd.posted-at-field
                  時間
                  %span
            .room-menu_button
              .chat-room_menu_button
                %span.common-text_button.menu-button
                  %i.fe.fe-setup_icon

    = render partial: "recomended_people"
