.main
  .my_profile_main
    %header.header-header.profile-header-container
      .container
        = link_to root_path do
          %h1.logo-title Eight
        %form.search-field{action: "/users/search", method: "get"}
          %input.srh-txt{name: "keyword", type: "text", placeholder: "名前、会社を検索"}
          %button.common-text_button.search-button{type: "submit"}
            %i.fe.fe-search
  .main__container
    %nav.side_bar-side_bar
      = link_to "/", class: "side_bar-my_profile_info js-me" do
        %article.profiles
          .profile__data
            .thumbnail
              .image-box
                %i.fa.fa-user.fa-3x
            .text-field
              .text-box
                .text-name
                  花田  暁
                .text-company
                  株式会社  div
          .card
            .side_bar-profile_card_image
      .navs
        .side_bar-menu
          %ul.nav.menu#js-nav
            %li.side_bar-linked_menu_item.title-menu
              = link_to "#", class: "link-component" do
                %i.fe.fe-feed_icon
                %span
                  フィード
            %li.side_bar-linked_menu_item.title-menu
              = link_to "#", class: "link-component" do
                %i.fe.fe-message
                %span
                  メッセージ
            %li.side_bar-linked_menu_item.title-menu
              = link_to "#", class: "link-component" do
                %i.fe.fe-news
                %span
                  お知らせ
          %ul.nav.networks
            %li.side_bar-linked_menu_item.title-menu
              = link_to "#", class: "link-component" do
                %i.fe.fe-personals_icon
                %span
                  あなたのネットワーク
                %span.num
                  0(style)
            %li#js-network-menu.network-menu
              %ul
                %li
                  %ul.sub-menu-items
                    %li.side_bar-linked_menu_item.sub-menu
                      = link_to "#", class: "link-component" do
                        %span
                          データ入力待ち
                        %span.num
                          0
                    %li.side_bar-linked_menu_item.sub-menu
                      = link_to "#", class: "link-component" do
                        %span
                          最近見た名刺
                        %span.num
                          0
                    %li.side_bar-linked_menu_item.sub-menu
                      = link_to "#", class: "link-component" do
                        %span
                          つながっている人
                        %span.num
                          0
                    %li
                      %ul.tag_menu
                        %li.menu-item
                          = link_to "#" do
                            %span.name
                              %span
                                ラベル
                        %li.menu-item
                          = link_to "#" do
                            %span.name
                              %span
                                ラベルなし
                        %li.menu-item
                          = link_to "#" do
                            %span.name
                              %span
                                ラベルを作成
