.search_view#eight_network_search
  %section.search-searched_company_list
    - @companies.each do |company|
      .company-company_list
        .company-company
          .hitarea
            %dt.company-img
              %i.fa.fa-building.fa-4x
            %dd.company-info
              .name
                = company.company_name
              .address
                東京都渋谷区
    - if companies.present?
      .count-lavel
        上位3件を表示しています
    .search-eight_people_list
      - users.each do |user|
        .scroll
          %article.search-eight_person
            = link_to profile_user_path(user.id) do
              %dl.item-field
                %dt.thumbnail
                  .image_box
                    %i.fa.fa-user.fa-2x
                .text-field
                  .user-name
                    = user.name
                    %i.fe.fe-link
                  .ellipsis-field
                    .company-name
                      = searched_user_company(user) if user.companies
                    .company-department
                      = searchd_user_department(user) if user.careers
                .people-follow_button
                  .div
                    .common-text_button
                      追加
                  .people-follow_button__note
