.main
  .my_profile_main
    = render partial: "users/header"
  .main__container
    = render partial: "users/leftbox", locals: {company: @latest_company, card: @latest_card}
    .search
      .search-search
        .search-search_result
          .search-search_list_navigation
            .tab
              .left
                .tab__item#my_network
                  あなたのネットワーク
              .right
                .tab__item2#eight_network
                  Eightのネットワーク
        = render partial: "search_eightnetwork", locals: {companies: @companies, users: @users}
        = render partial: "search_mynetwork", locals: {followers: @followers}
      = render partial: "recomended_people"
