.main
  .my_profile_main
    = render partial: "users/header"
  .main__container

    = render partial: "users/leftbox", locals: {company: @latest_company, card: @latest_card}

    .posts_main
      .post_form_box
        = form_for [@user, @post] do |f|
          %ul
            %li.post_form_label
              %span.label 近況をアップデート
            %li.post_image_area
              %label
                = f.file_field :image, class: "file_field"
                .post_image_icon
                  %i.fa.fa-picture-o
                .post_image_button
                %span 画像を追加
          .post_text_area
            = f.text_area :text , class: "text_area", placeholder: "仕事の近況を報告しよう"
          %footer
            .space_maker
            = f.submit class: "submit_button", value: "投稿する"

      .post_content_box
        - @viewed_posts.each do |post|
          .per_post_content
            %header
              .thumbnail
                .content_avatar
                  %i.fa.fa-user.fa-3x

              .wrapper

                %ul.content_poster_info
                  %li.content_poster_info__name
                    %span
                      = post.user.name
                  %li.content_poster_info__company
                    %span
                      = company_search(post) if post.user.companies.present?
                  %li.content_poster_info__department
                    %span
                      = department_search(post) if post.user.companies.present?
                  %li.content_poster_info__position
                    %span
                      = position_search(post) if post.user.companies.present?

                .content_posted_time
                  %span たった今
              .post-ctrl
                - if post.user_id == current_user.id
                  %a.nav-btn{id: "#{post.id}"}
                    %i.fa.fa-angle-down
                  .menu_box{id: "menubox_#{post.id}"}
                    %ul.commmon_menu
                      %li.commmon_menu__item
                        = link_to user_post_path(id: post.id), method: :delete do
                          %i.fa.fa-trash
                          %span 投稿を削除する

            .content_main
              .content_message_field
                %p.message
                  = post.text
              .content_image_field
                = image_tag post.image
            %footer
              %ul
                %li.like_box
                  %i.fa.fa-thumbs-up
                  %span いいね
                %li.comment_box
                  %i.fa.fa-comment-o
                  %span コメント
                %li.share_box
                  %i.fa.fa-share
                  %span シェア

    = render partial: "users/recomended_people"
